body {
  background-color: rgb(65, 61, 61);
}
header {
  font-size: 35px;
}
p {
  font-size: 15px;
}
* {
  border: 10px solid rgb(223, 103, 5);
  padding: 10px;
  margin: 20px;
}
p,h1 {
  color: blue;
}
li:hover {
  text-align: left;
  color: rgb(52, 72, 245);
}
image {
size-adjust: 5px;
}
